.categories {
  display: flex;
  flex-wrap: wrap;
	justify-content: center;
	margin: 1rem 0 3rem 0;
  gap: 15px;
  
  h4 {
    color: rgb(151, 199, 65);
  }

  .link {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 50%;
    margin: 7px;
    width: 100px;
    background: rgba(26, 44, 66, 0.7);
    text-decoration: none;

    &:hover {
      background: rgb(26, 44, 66);
      box-shadow: 2px 2px rgb(8, 22, 1);
      border-radius: 30%;
    }
  }

  svg {
    margin-top: 10px;
    font-size: 2rem;
    color: rgb(151, 199, 65);
  } 
}
