.home {
  position: relative;
  margin-top: 80px;

  .msg {
    padding: 0;
    margin: 0 80px 80px 90px;
    
    text-align: left;
    word-wrap: break-word;

    h1 {
      font-size: 50px;
      color: rgb(17, 29, 41);
    }

    span {
      font-size: 30px;
      color: rgb(17, 29, 41);
      font-style: italic;
      word-wrap: break-word;
      margin: 5px;
    }
  }
}

.app--search {
  margin-top: 25px;
  height: 200px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;

}

.category--div {
  padding: 10px;
}

.fact--btn {
 display: flex;
 justify-content: flex-end;
 margin-right: 50px;
 position: fixed;
 z-index: 99;
}