.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: rgb(26, 44, 66);
  height: 75px;
  width: 100%;
  padding-left: 10px;
  padding-right: 20px;
  position: fixed;
  z-index: 1;

  .link {
    text-decoration: none;
    position: relative;
    left: 6%;
  }
  .link-home {
    position: absolute;
    left: 74%;
  }

  svg {
    font-size: 35px;
    color: rgb(151, 199, 65);

    &:hover {
      font-size: 40px;
    }
  }

  h2 {
    svg {
      &:hover {
        color: white;
        font-size: 35px;
      }
    }
  }
}

.nav--title {
  color: rgb(151, 199, 65);
  text-align: left;
  margin-right: 2em;
  font-family: 'Satisfy', cursive;
  font-size: 30px;

  &:hover {
    color: white;
  }
}

.nav--options {
  display: flex;
  left: 78%;
  position: absolute;
  gap: 10px;
}

.loginicon, .signupicon {
  width: 120px;
  border: solid rgb(151, 199, 65);
  border-width: thin;
  height: 40px;
  font-size: 18px;
  font-weight: 550;
  background:rgb(26, 44, 66);
  border-radius: 20px;
  color: rgb(151, 199, 65);
  cursor: pointer;

  &:hover {
    background: rgba(46, 93, 150, 0.7);
  }
}