.popular--box {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 100vw;

  h1 {
    font-size: 40px;
    margin-bottom: 0;
    padding-left: 100px;
    color: rgb(26, 44, 66);
  }
  .link {
    text-decoration: none;
  }
}

.popular--receipe--card {
  text-align: center;
  margin: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(26, 44, 66, 0.7);
  border-radius: 10px;
  height: 100%;

  &:hover {
    background: rgb(26, 44, 66);
}

	img {
    width: 80%;
    border-radius: 20px;
    margin-top: 15px;
    padding: 10px;
	}

	p {
    color: white;
    width: 100%;
    padding: auto;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    overflow: hidden;
	}
}

